.home {
    height: 75vh;
    &__carousel-steps {
        background-color: rgba(0, 0, 0, 0);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll, scroll;
        background-size: cover;
        background-origin: padding-box, padding-box;
        background-clip: border-box, border-box;
    }
}

.about {
    background-image: url(../../public/images/home/nosotros.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    background-size: cover;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    height: 60vh;
    &__title {
        text-transform: uppercase;
        color: $cimap-title;
        font-size: 60px;
        font-weight: bold;
    }
    &__text {
        &--highlighted {
            color: $cimap-orange;
            font-weight: bold;
        }
    }
}

.services {
    &__image {
        // width: calc(100% / 7);
    }
    &__service {
        background: #323232;
        color: $cimap-orange;
    }
    &__tooltip {
        &-title {
            color: $cimap-orange;
        }
    }
}
.services__tooltip > .tooltip-arrow {
    // color: blue;
}

.services__tooltip > .tooltip-inner {
    background: rgba(233, 233, 233, 0.952);
    min-width: 300px;
    height: 250px;
    color: black;
    text-align: left;
    padding: 10px;
}

@include media-breakpoint-up(lg) {
    .services__service {
        flex: 1 0 14%;
    }
}

.blog {
    &__card-title {
        color: $cimap-orange;
    }
    &__link {
        color: $cimap-link;
        text-decoration: none;
    }
}