.home {
    height: 75vh;
    &__carousel-steps {
        background-color: rgba(0, 0, 0, 0);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll, scroll;
        background-size: cover;
        background-origin: padding-box, padding-box;
        background-clip: border-box, border-box;
    }
    &__indicators {
        width: 15px !important;
        height: 15px !important;
        border-radius: 50%;
    }
}

.about {
    background-image: url(../../public/images/home/nosotros.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    background-size: cover;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    height: 60vh;
    &__title {
        text-transform: uppercase;
        color: $cimap-title;
        font-size: 60px;
        font-weight: bold;
    }
    &__text {
        &--highlighted {
            color: $cimap-orange;
            font-weight: bold;
        }
    }
}

.services {
    &__image {
        // width: calc(100% / 7);
    }
    &__service {
        background: #323232;
        color: $cimap-orange;
    }
    &__tooltip {
        &-title {
            color: $cimap-orange;
        }
    }
}
.services__tooltip > .tooltip-arrow {
    // color: blue;
}

.services__tooltip > .tooltip-inner {
    background: rgba(233, 233, 233, 0.952);
    min-width: 300px;
    min-height: 250px;
    color: black;
    text-align: left;
    padding: 10px;
}

@include media-breakpoint-up(lg) {
    .services__service {
        flex: 1 0 14%;
    }
}

.blog {
    &__card-title {
        color: $cimap-orange;
    }
    &__link {
        color: $cimap-link;
        text-decoration: none;
    }
    &__thumbnail {
        height: 100%;
    }
}

.contact {
    background-image: url(../../public/images/home/contacto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    background-size: cover;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    min-height: 560px;
    @include media-breakpoint-down(md) {
        padding: 40px 0px;
    }
    &__container {
        background-color: #f3f3f3e1;
        border-radius: 25px 0px 0px 25px;
        padding: 20px;
        @include media-breakpoint-down(md) {
            border-radius: 25px 25px 0px 0px
        }
    }
    &__input {
        background: transparent;
        border: none;
        border-top: 1px solid rgb(88, 88, 88);
        border-radius: 0;
        &-textarea {
            background: transparent;
            border: none;
            border-radius: 0;
            border: 1px solid rgb(88, 88, 88);
        }
    }
    &__form-title {
        margin-bottom: 35px;
    }
    &__map {
        @include media-breakpoint-down(md) {
            height: 500px;
        }
    }
}