.single-post {
    margin-top: 80px;
    &__img {
        max-width: 400px;
    }
    &__title {
        color: $cimap-orange;
    }
    &__text {
        text-align: justify;
    }
}

.justify {
    text-align: justify;
}